In [10]:
# Import Dependencies
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, desc

In [15]:
meta_df = pd.read_csv("./DataSets/belly_button_metadata.csv")

In [17]:
samples_df = pd.read_csv("./DataSets/belly_button_data.csv")

In [19]:
meta_df.dtypes

sample              int64
EVENT              object
ETHNICITY          object
GENDER             object
AGE               float64
WFREQ             float64
BBTYPE             object
LOCATION           object
COUNTRY012         object
ZIP012             object
COUNTRY1319        object
ZIP1319            object
DOG                object
CAT                object
IMPSURFACE013     float64
NPP013            float64
MMAXTEMP013       float64
PFC013            float64
IMPSURFACE1319     object
NPP1319           float64
MMAXTEMP1319      float64
PFC1319           float64
dtype: object

In [20]:
meta_df.head()

,sample,EVENT,ETHNICITY,GENDER,AGE,WFREQ,BBTYPE,LOCATION,COUNTRY012,ZIP012,...,DOG,CAT,IMPSURFACE013,NPP013,MMAXTEMP013,PFC013,IMPSURFACE1319,NPP1319,MMAXTEMP1319,PFC1319
0,940,BellyButtonsScienceOnline,Caucasian,F,24.0,2.0,I,Beaufort/NC,usa,22306,...,no,no,8852.0,37.172222,54.5,NaN,1,NaN,33.990002,25.5
1,941,NaN,Caucasian/Midleastern,F,34.0,1.0,I,Chicago/IL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,943,BellyButtonsScienceOnline,Caucasian,F,49.0,1.0,I,Omaha/NE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,944,BellyButtonsScienceOnline,European,M,44.0,1.0,I,NewHaven/CT,usa,7079,...,no,yes,NaN,35.816666,16.0,NaN,0,6567.0,32.403332,28.5
4,945,BellyButtonsScienceOnline,Caucasian,F,48.0,1.0,I,Philidelphia/PA,usa,84404,...,no,no,NaN,37.783333,4.0,NaN,0,5613.0,33.634445,24.0

In [21]:
meta_df.count()

sample            153
EVENT             152
ETHNICITY         149
GENDER            152
AGE               150
WFREQ             138
BBTYPE            142
LOCATION          126
COUNTRY012         87
ZIP012             85
COUNTRY1319        81
ZIP1319            79
DOG                86
CAT                86
IMPSURFACE013      44
NPP013             80
MMAXTEMP013        80
PFC013              0
IMPSURFACE1319     78
NPP1319            43
MMAXTEMP1319       75
PFC1319            74
dtype: int64

In [22]:
samples_df.dtypes

otu_id         int64
otu_label     object
940            int64
941            int64
943            int64
944            int64
945            int64
946            int64
947            int64
948          float64
949            int64
950          float64
952            int64
953            int64
954            int64
955          float64
956            int64
958            int64
959            int64
960            int64
961            int64
962            int64
963            int64
964            int64
966            int64
967            int64
968            int64
969            int64
970            int64
971            int64
              ...
1540           int64
1541           int64
1542           int64
1543           int64
1544           int64
1545           int64
1546           int64
1547           int64
1548           int64
1549           int64
1550           int64
1551           int64
1552           int64
1553           int64
1554           int64
1555           int64
1556           int64
1557           int64
1558           int64
1561           int64
1562           int64
1563           int64
1564           int64
1572           int64
1573           int64
1574           int64
1576           int64
1577           int64
1581           int64
1601           int64
Length: 155, dtype: object

In [24]:
samples_df.head()

,otu_id,otu_label,940,941,943,944,945,946,947,948,...,1562,1563,1564,1572,1573,1574,1576,1577,1581,1601
0,1,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,3,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,4,Archaea;Euryarchaeota;Methanobacteria;Methanob...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,5,Archaea;Euryarchaeota;Methanobacteria;Methanob...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
samples_df.count()

otu_id       3663
otu_label    3663
940          3663
941          3663
943          3663
944          3663
945          3663
946          3663
947          3663
948          3662
949          3663
950          3662
952          3663
953          3663
954          3663
955          3662
956          3663
958          3663
959          3663
960          3663
961          3663
962          3663
963          3663
964          3663
966          3663
967          3663
968          3663
969          3663
970          3663
971          3663
             ...
1540         3663
1541         3663
1542         3663
1543         3663
1544         3663
1545         3663
1546         3663
1547         3663
1548         3663
1549         3663
1550         3663
1551         3663
1552         3663
1553         3663
1554         3663
1555         3663
1556         3663
1557         3663
1558         3663
1561         3663
1562         3663
1563         3663
1564         3663
1572         3663
1573         3663
1574         3663
1576         3663
1577         3663
1581         3663
1601         3663
Length: 155, dtype: int64

In [26]:
# Initialize SQLAlchemy engine for sqllite datasource specified in assignment
engine = create_engine("sqlite:///DataSets/bellybutton.sqlite")

In [27]:
Base = automap_base()
Base.prepare(engine, reflect=True)

In [28]:
Base.classes.keys()

['sample_metadata', 'samples']

In [31]:
Samples = Base.classes.samples
Sample_metadata = Base.classes.sample_metadata

In [32]:
session = Session(engine)

In [45]:
samples =  Samples.__table__.columns
samples_list = [sample.key for sample in samples]

In [46]:
samples_list

['otu_id',
 'otu_label',
 '940',
 '941',
 '943',
 '944',
 '945',
 '946',
 '947',
 '948',
 '949',
 '950',
 '952',
 '953',
 '954',
 '955',
 '956',
 '958',
 '959',
 '960',
 '961',
 '962',
 '963',
 '964',
 '966',
 '967',
 '968',
 '969',
 '970',
 '971',
 '972',
 '973',
 '974',
 '975',
 '978',
 '1233',
 '1234',
 '1235',
 '1236',
 '1237',
 '1238',
 '1242',
 '1243',
 '1246',
 '1253',
 '1254',
 '1258',
 '1259',
 '1260',
 '1264',
 '1265',
 '1273',
 '1275',
 '1276',
 '1277',
 '1278',
 '1279',
 '1280',
 '1281',
 '1282',
 '1283',
 '1284',
 '1285',
 '1286',
 '1287',
 '1288',
 '1289',
 '1290',
 '1291',
 '1292',
 '1293',
 '1294',
 '1295',
 '1296',
 '1297',
 '1298',
 '1308',
 '1309',
 '1310',
 '1374',
 '1415',
 '1439',
 '1441',
 '1443',
 '1486',
 '1487',
 '1489',
 '1490',
 '1491',
 '1494',
 '1495',
 '1497',
 '1499',
 '1500',
 '1501',
 '1502',
 '1503',
 '1504',
 '1505',
 '1506',
 '1507',
 '1508',
 '1510',
 '1511',
 '1512',
 '1513',
 '1514',
 '1515',
 '1516',
 '1517',
 '1518',
 '1519',
 '1521',
 '1524',
 '1526',
 '1527',
 '1530',
 '1531',
 '1532',
 '1533',
 '1534',
 '1535',
 '1536',
 '1537',
 '1539',
 '1540',
 '1541',
 '1542',
 '1543',
 '1544',
 '1545',
 '1546',
 '1547',
 '1548',
 '1549',
 '1550',
 '1551',
 '1552',
 '1553',
 '1554',
 '1555',
 '1556',
 '1557',
 '1558',
 '1561',
 '1562',
 '1563',
 '1564',
 '1572',
 '1573',
 '1574',
 '1576',
 '1577',
 '1581',
 '1601']

In [47]:
samples_list.remove("otu_id")
samples_list.remove("otu_label")

In [48]:
samples_list

['940',
 '941',
 '943',
 '944',
 '945',
 '946',
 '947',
 '948',
 '949',
 '950',
 '952',
 '953',
 '954',
 '955',
 '956',
 '958',
 '959',
 '960',
 '961',
 '962',
 '963',
 '964',
 '966',
 '967',
 '968',
 '969',
 '970',
 '971',
 '972',
 '973',
 '974',
 '975',
 '978',
 '1233',
 '1234',
 '1235',
 '1236',
 '1237',
 '1238',
 '1242',
 '1243',
 '1246',
 '1253',
 '1254',
 '1258',
 '1259',
 '1260',
 '1264',
 '1265',
 '1273',
 '1275',
 '1276',
 '1277',
 '1278',
 '1279',
 '1280',
 '1281',
 '1282',
 '1283',
 '1284',
 '1285',
 '1286',
 '1287',
 '1288',
 '1289',
 '1290',
 '1291',
 '1292',
 '1293',
 '1294',
 '1295',
 '1296',
 '1297',
 '1298',
 '1308',
 '1309',
 '1310',
 '1374',
 '1415',
 '1439',
 '1441',
 '1443',
 '1486',
 '1487',
 '1489',
 '1490',
 '1491',
 '1494',
 '1495',
 '1497',
 '1499',
 '1500',
 '1501',
 '1502',
 '1503',
 '1504',
 '1505',
 '1506',
 '1507',
 '1508',
 '1510',
 '1511',
 '1512',
 '1513',
 '1514',
 '1515',
 '1516',
 '1517',
 '1518',
 '1519',
 '1521',
 '1524',
 '1526',
 '1527',
 '1530',
 '1531',
 '1532',
 '1533',
 '1534',
 '1535',
 '1536',
 '1537',
 '1539',
 '1540',
 '1541',
 '1542',
 '1543',
 '1544',
 '1545',
 '1546',
 '1547',
 '1548',
 '1549',
 '1550',
 '1551',
 '1552',
 '1553',
 '1554',
 '1555',
 '1556',
 '1557',
 '1558',
 '1561',
 '1562',
 '1563',
 '1564',
 '1572',
 '1573',
 '1574',
 '1576',
 '1577',
 '1581',
 '1601']

In [50]:
samples = session.query(Samples).first()

In [51]:
samples.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x114c3e668>,
 '953': 0,
 '971': 0,
 '1500': 0,
 '1517': 0,
 '1540': 0,
 '954': 0,
 '972': 0,
 '1501': 0,
 '1518': 0,
 '1541': 0,
 '955': 0,
 '973': 0,
 '1502': 0,
 '1519': 0,
 '1542': 0,
 'otu_id': 1,
 '956': 0,
 '974': 0,
 '1503': 0,
 '1521': 0,
 '1543': 0,
 'otu_label': 'Archaea;Euryarchaeota;Halobacteria;Halobacteriales;Halobacteriaceae;Halococcus',
 '958': 0,
 '975': 0,
 '1504': 0,
 '1524': 0,
 '1544': 0,
 '940': 0,
 '959': 0,
 '978': 0,
 '1505': 0,
 '1526': 0,
 '1545': 0,
 '941': 0,
 '960': 0,
 '1233': 0,
 '1506': 0,
 '1527': 0,
 '1546': 0,
 '943': 0,
 '961': 0,
 '1234': 0,
 '1507': 0,
 '1530': 0,
 '1547': 0,
 '944': 0,
 '962': 0,
 '1235': 0,
 '1508': 0,
 '1531': 0,
 '1548': 0,
 '945': 0,
 '963': 0,
 '1236': 0,
 '1510': 0,
 '1532': 0,
 '1549': 0,
 '946': 0,
 '964': 0,
 '1237': 0,
 '1511': 0,
 '1533': 0,
 '1550': 0,
 '947': 0,
 '966': 1,
 '1238': 0,
 '1512': 0,
 '1534': 0,
 '1551': 0,
 '948': 0,
 '967': 0,
 '1242': 0,
 '1513': 0,
 '1535': 0,
 '1552': 0,
 '949': 0,
 '968': 0,
 '1243': 0,
 '1514': 0,
 '1536': 0,
 '1553': 0,
 '950': 0,
 '969': 0,
 '1246': 0,
 '1515': 0,
 '1537': 0,
 '1554': 0,
 '952': 0,
 '970': 0,
 '1253': 0,
 '1516': 0,
 '1539': 0,
 '1555': 0,
 '1254': 0,
 '1284': 0,
 '1309': 0,
 '1556': 0,
 '1258': 0,
 '1285': 0,
 '1310': 0,
 '1557': 0,
 '1259': 0,
 '1286': None,
 '1374': 0,
 '1558': 0,
 '1260': 0,
 '1287': 0,
 '1415': 0,
 '1561': 0,
 '1264': 0,
 '1288': 0,
 '1439': 0,
 '1562': 0,
 '1265': 0,
 '1289': 0,
 '1441': 0,
 '1563': 0,
 '1273': 0,
 '1290': 0,
 '1443': 0,
 '1564': 0,
 '1275': 0,
 '1291': 0,
 '1486': 0,
 '1572': 0,
 '1276': 0,
 '1292': 0,
 '1487': 0,
 '1573': 0,
 '1277': 0,
 '1293': 0,
 '1489': 0,
 '1574': 0,
 '1278': 0,
 '1294': 0,
 '1490': 0,
 '1576': 0,
 '1279': 0,
 '1295': 0,
 '1491': 0,
 '1577': 0,
 '1280': 0,
 '1296': 0,
 '1494': 0,
 '1581': 0,
 '1281': 0,
 '1297': 0,
 '1495': 0,
 '1601': 0,
 '1282': 0,
 '1298': 0,
 '1497': 0,
 '1283': 0,
 '1308': 0,
 '1499': 0}

In [55]:
samples_metadata_ex = session.query(Sample_metadata).first()

In [56]:
samples_metadata_ex.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x114c57cf8>,
 'ZIP1319': '22306',
 'GENDER': 'F',
 'NPP1319': None,
 'DOG': 'no',
 'AGE': 24.0,
 'MMAXTEMP1319': 33.99000168,
 'CAT': 'no',
 'WFREQ': 2.0,
 'PFC1319': 25.5,
 'IMPSURFACE013': 8852.0,
 'BBTYPE': 'I',
 'NPP013': 37.17222214,
 'LOCATION': 'Beaufort/NC',
 'sample': 940,
 'MMAXTEMP013': 54.5,
 'COUNTRY012': 'usa',
 'PFC013': None,
 'EVENT': 'BellyButtonsScienceOnline',
 'ZIP012': '22306',
 'ETHNICITY': 'Caucasian',
 'IMPSURFACE1319': '1',
 'COUNTRY1319': 'usa'}

In [65]:
def sample_query(sample):
    sample_name = sample.replace("BB_", "")
    result = session.query(Sample_metadata.AGE, Sample_metadata.BBTYPE, Sample_metadata.ETHNICITY, Sample_metadata.GENDER, Sample_metadata.LOCATION, Sample_metadata.sample).filter_by(sample = sample_name).all()
    record = result[0]
    record_dict = {
        "AGE": record[0],
        "BBTYPE": record[1],
        "ETHNICITY": record[2],
        "GENDER": record[3],
        "LOCATION": record[4],
        "SAMPLEID": record[5]
    }
    return (record_dict)

In [66]:
sample_query("940")

{'AGE': 24.0,
 'BBTYPE': 'I',
 'ETHNICITY': 'Caucasian',
 'GENDER': 'F',
 'LOCATION': 'Beaufort/NC',
 'SAMPLEID': 940}

In [67]:
# queries metadata table# querie 
result = session.query(Sample_metadata.WFREQ).filter_by(sample = "940").all()

In [68]:
wash_freq = result[0][0]

In [69]:
wash_freq

2.0

In [70]:
def otu_data(sample):
    sample_query = "Samples." + sample
    result = session.query(Samples.otu_id, sample_query).order_by(desc(sample_query)).all()
    otu_ids = [result[x][0] for x in range(len(result))]   
    sample_values = [result[x][1] for x in range(len(result))]
    dict_list = [{"otu_ids": otu_ids}, {"sample_values": sample_values}]
    return dict_list

In [71]:
otu_data("940")

OperationalError: (sqlite3.OperationalError) near ".940": syntax error [SQL: 'SELECT samples.otu_id AS samples_otu_id, Samples.940 \nFROM samples ORDER BY Samples.940 DESC'] (Background on this error at: http://sqlalche.me/e/e3q8)